.wellen_container {
	margin-top: -1px;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;

	.wellen_svg {
		display: block;
		width: 100%;
		height: 230px;
		transform-origin: center;

		&.is-flipped-x { transform: scaleX(-1); }
		&.is-flipped-y { transform: scaleY(-1) translateY(1px); }
		&.is-flipped-x.is-flipped-y { transform: scaleX(-1) scaleY(-1) translateY(1px); }
	}
}

/* Nutzung im Teaser-Cover: die Welle absolut positionieren und responsiv skalieren */
.is-style-teaser-cover {
	.wellen_container {
		position: absolute;

		.wellen_svg {
			width: 100%;
			height: 230px;
			position: relative;
			z-index: 1;

			@media (max-width: 1200px) { height: 180px; }
			@media (max-width: 1000px) { height: 160px; }
			@media (max-width: 800px)  { height: 140px; }
			@media (max-width: 600px)  { height: 100px; }
			@media (max-width: 400px)  { height: 60px;  }
		}
	}
}
